/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/*************************************
*******BACKGROUND SECTION*************
*************************************/

.backgroundSection {
  background-color: blue;

}

/*************************************
*******HEADER SECTION*****************
*************************************/

header {
  display: flex;
  justify-content: space-around;
}

h1 {
  color: bisque;
  font-size: 40px;
}

/************************************
*******MAIN SECTION******************
************************************/

main {
  display: flex;
  justify-content: space-around;

}

.firstSection {
  height: 200px;
  width: 30%;
  background-color: black;
  border-radius: 5px;
}

h2 {
  margin-left: 140px;
  font-size: 180px;
  margin-top: 0px;
  color: red;
}

/*************************************
*******DIV SECTION********************
*************************************/

div {
  display: flex;
  justify-content: space-around;
  
}

.sectionButtons {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 25%;
}

button {
  font-size: 50px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: blue;
}

/*************************************
*******FOOTER SECTION*****************
*************************************/

.footerSection {
  height: 265px;
  display: flex;
  justify-content: center;
}

.resetButton {
  color: red;
  border: 5px solid black;

}